{% extends 'frontend/base.html' %} 

{% block Content %}
	<div class="center">
		<h1>Register</h1>
		{% if messages %}
			{% for message in messages %}
				{% if message.tags == 'error' %}
					<center><h4 style="color: firebrick;">{{message}}</h4></center>
				{% else %}
					<center><h4 style="color: dodgerblue;">{{message}}</h4></center>
				{% endif %}
			{% endfor %}
		{% endif %}

		<form method="post" class="needs-validation" novalidate>
			{% csrf_token %}
			
			{% for field in form %}
			<div class="form-group mb-3">
				{# Custom label styling #}
				<label for="{{ field.id_for_label }}" class="form-label fw-bold">
					{{ field.label }}
					{% if field.field.required %}
						<span class="text-danger">*</span>
					{% endif %}
				</label>
				
				{# input field #}
				{{ field }}
		
				{# Field with custom styling #}
				<div class="custom-styling-group">
					
					{% comment %} {{ field|add_class:"form-control" }} {% endcomment %}
					
					{% if field.name == 'password1' %}
						<small>Make sure this password tally with the password field below</small>
					{% endif %}
				</div>
		
				{# Custom error display #}
				{% if field.errors %}
				<div class="alert alert-danger mt-1 p-2">
					{% for error in field.errors %}
					<small class="d-block">
						<i class="fas fa-exclamation-circle"></i> {{ error }}
					</small>
					{% endfor %}
				</div>
				{% endif %}
		
				{# Custom help text with icons #}
				{% if field.help_text %}
				<small class="form-text text-muted">
					<i class="fas fa-info-circle"> {{ field.help_text }} </i>
				</small>
				{% endif %}
		
				{# Field-specific custom elements #}
				{% if field.name == 'email' %}
        <small>Use gmail to get registration mail.</small>
				{% endif %}
			</div>
			{% endfor %}
		
			<div class="d-grid gap-2">
				<button type="submit" class="btn btn-primary">
					<i class="fas fa-user-plus"></i> Register
				</button>
				<div class="signup_link">
					Already have an account? 
					<a href="{% url 'login' %}">Login</a>
				</div>
			</div>
		</form>

	</div>

<script type="text/javascript">
  /*
			KEY COMPONENTS:
			"activeItem" = null until an edit button is clicked. Will contain object of item we are editing
			"list_snapshot" = Will contain previous state of list. Used for removing extra rows on list update
			
			PROCESS:
			1 - Fetch Data and build rows "buildList()"
			2 - Create Item on form submit
			3 - Edit Item click - Prefill form and change submit URL
			4 - Delete Item - Send item id to delete URL
			5 - Cross out completed task - Event handle updated item

			NOTES:
			-- Add event handlers to "edit", "delete", "title"
			-- Render with strike through items completed
			-- Remove extra data on re-render
			-- CSRF Token
		*/

  function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie !== "") {
      var cookies = document.cookie.split(";");
      for (var i = 0; i < cookies.length; i++) {
        var cookie = cookies[i].trim();
        // Does this cookie string begin with the name we want?
        if (cookie.substring(0, name.length + 1) === name + "=") {
          cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
          break;
        }
      }
    }
    return cookieValue;
  }

  var csrftoken = getCookie("csrftoken");

  var activeItem = null;
  var list_snapshot = [];
  const baseURL =
    window.location.hostname === "127.0.0.1"
      ? "http://127.0.0.1:8000"
      : "https://simple-todo-5824.onrender.com";

  var button = document.getElementById("submit");
  var spinner = document.getElementById("spinner");

  function showLoader() {
    // Show the spinner and disable the button
    spinner.classList.remove("d-none");
    button.setAttribute("disabled", true);
  }

  function hideLoader() {
    // Hide the spinner and re-enable the button
    spinner.classList.add("d-none");
    button.removeAttribute("disabled");
  }

  buildList(); // Get list of tasks when we load the webpage initially

  function buildList() {
    var wrapper = document.getElementById("list-wrapper");

    var url = `${baseURL}/api/task-list/`;

    showLoader(); // show loader before fetch

    fetch(url)
      .then((resp) => resp.json())
      .then(function (data) {
        console.log("Data:", data);

        var list = data;
        for (var i in list) {
          try {
            document.getElementById(`data-row-${i}`).remove();
          } catch (err) {}

          var title = `<span class="title">${list[i].title}</span>`;
          if (list[i].completed == true) {
            title = `<strike class="title">${list[i].title}</strike>`;
          }

          var item = `
						<div id="data-row-${i}" class="task-wrapper flex-wrapper">
							<div style="flex:7">
								${title}
							</div>
							<div style="flex:1">
								<button class="btn btn-sm btn-outline-info edit">Edit </button>
							</div>
							<div style="flex:1">
								<button class="btn btn-sm btn-outline-dark delete">-</button>
							</div>
						</div>

					`;
          wrapper.innerHTML += item;
        }

        if (list_snapshot.length > list.length) {
          for (var i = list.length; i < list_snapshot.length; i++) {
            document.getElementById(`data-row-${i}`).remove();
          }
        }

        list_snapshot = list;

        for (var i in list) {
          var editBtn = document.getElementsByClassName("edit")[i];
          var deleteBtn = document.getElementsByClassName("delete")[i];
          var title = document.getElementsByClassName("title")[i];

          // editBtn.addEventListener('click', (function(item){
          // 	return function(){
          // 		editItem(item)
          // 	}
          // })(list[i]))

          //Immediatly Invoked Function (IIF) + Closure for saving current loop item in memory
          editBtn.addEventListener(
            "click",
            (() => {
              let item = list[i];
              return () => {
                editItem(item);
              };
            })()
          );

          deleteBtn.addEventListener(
            "click",
            (function (item) {
              return function () {
                deleteItem(item);
              };
            })(list[i])
          );

          title.addEventListener(
            "click",
            (function (item) {
              return function () {
                strikeUnstrike(item);
              };
            })(list[i])
          );
        }

        hideLoader(); // Hide loader after fetch
      });
  }

  var form = document.getElementById("form-wrapper");
  form.addEventListener("submit", function (e) {
    e.preventDefault();
    console.log("Form submitted");
    var url = `${baseURL}/api/task-create/`;
    let reqMethod = "POST";

    if (activeItem != null) {
      var url = `${baseURL}/api/task-update/${activeItem.id}/`;
      reqMethod = "PATCH";
      activeItem = null;
    }

    showLoader(); // Display loader before crating or editing task

    var title = document.getElementById("title").value;
    fetch(url, {
      method: reqMethod,
      headers: {
        "Content-type": "application/json",
        "X-CSRFToken": csrftoken,
      },
      body: JSON.stringify({ title: title }),
    }).then(function (response) {
      buildList();
      document.getElementById("form").reset();
    });
  });

  function editItem(item) {
    console.log("Item clicked:", item);
    activeItem = item;
    document.getElementById("title").value = activeItem.title;
  }

  function deleteItem(item) {
    console.log("Delete clicked");
    showLoader(); // Show loader before deleting

    fetch(`${baseURL}/api/task-delete/${item.id}/`, {
      method: "DELETE",
      headers: {
        "Content-type": "application/json",
        "X-CSRFToken": csrftoken,
      },
    }).then((response) => {
      buildList();
    });
  }

  function strikeUnstrike(item) {
    console.log("Strike clicked");
    showLoader(); // Show loader before updating

    item.completed = !item.completed;
    fetch(`${baseURL}/api/task-update/${item.id}/`, {
      method: "PATCH",
      headers: {
        "Content-type": "application/json",
        "X-CSRFToken": csrftoken,
      },
      body: JSON.stringify({ title: item.title, completed: item.completed }),
    }).then((response) => {
      buildList();
    });
  }
</script>

{% endblock Content %}
